<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>Created with
        <i class="material-icons copyright-icon">favorite</i>
        <a class="copyright-link" href="#"> by Team Secret Santa</a>
      </b>
    </div>
  </div>
</div>
