<div class="row home">
  <div class="center">
    <h4 class="title">Surprise in the Secret Santa Gift</h4>
    <h5 class="subtitle">Create your raffle with just the name and email of your friends</h5>
    <h5 class="subtitle2">Fast and Guaranteed <i class="material-icons home-icon">favorite</i></h5>

    <%= form_tag("/campaigns", method: "post") do %>
      <%= submit_tag("Create Now", class: "waves-effect waves-light btn home-button") %>
    <% end %>
  </div>
</div>
