<div class="row campaigns">
  <div class="col s8 offset-s2">
    <% if @campaigns.any? %>
      <p class="title">Campaigns</p>
    <% else %>
      <h4 class="title-new"><b> Add new campaigns</b></h4>
      <p class="subtitle-new"><i>Click the "+" button</i></p>
    <% end %>
  </div>
  <div class="row cards">
    <div class="col s8 offset-s2">
      <% @campaigns.each do |c| %>
        <div class="card horizontal">
          <div class="card-content col s12">
            <div class="col s12 l8 m12">
              <div class="row">
                <div class="col s8 m9 l9">
                  <p class="title"><%= truncate(c.title, length: 30, omission: '...') %></p>
                </div>
                <div class="col s4 m2 l2">
                  <p class="data"><%= (c.event_date)? c.event_date.strftime("%d/%m/%y") : '' %></p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m12 l12">
                  <p class="subtitle"><%= truncate(c.description, length: 70, omission: '...') %></p>
                </div>
              </div>
              <div class="row status">
                <div class="col s6 m6 l4 visibility">
                  <i class="material-icons visibility-icon">visibility</i>
                  <span class="visibility-text">Viewed <%= open_number(c) %></span>
                </div>
                <div class="col s2 m2 offset-s4 l2 offset-l6">
                  <span class="new badge <%= (c.status == "pending")? 'orange' : '' %>"> <%= (c.status == "pending")? 'Pending' : 'Raffle' %> </span>
                </div>
              </div>
            </div>
            <div class="col l4 s12 m12 center enter">
              <div class="row">
                <div class="col s12">
                  <a class="waves-effect waves-light btn grey" href=<%= "/campaigns/#{c.id}" %>>Look</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="fixed-action-btn campaigns-btn">
    <%= form_tag("/campaigns", method: "post") do %>
      <button class="btn-floating btn-large red pulse" type="submit">
        <i class="large material-icons">add</i>
      </button>
    <% end %>
  </div>
</div>
