.campaigns{
  margin-top: 4%;

  .title{
    color: #e86252;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .title-new{
    color: #e86252;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .subtitle-new{
    color: #909090;
    font-size: 18px;
    margin-top: -1px;
  }

  .campaigns-btn{
    margin-bottom: 40px;
  }

  .cards{
    .card{
      .title{
        font-size: 20px;
      }
      .data{
        color: #aaa;
      }
      .subtitle{
        margin-top: -18px;
        margin-bottom: -6px;
        color: #aaa;
      }
      .status{
        margin-bottom: -8px;
        .visibility-icon{
          font-size: 16px;
        }
        .visibility-text{
          font-size: 14px;
        }
      }
      .enter{
        .btn{
          margin-top: 15%;
          height: 45px;
          padding-top: 5px;
        }
      }
    }
  }

  .campaign{
    .row{
      margin-bottom: 0px;
    }

    .btn-actions{
      margin-top: 20px;
    }

    .members{
      margin-top: 20px;
      .member{
        .icon{
          color: #aaa;
          margin-top: 20px;
        }
        .opened{
          color: #4CAF50 !important;
        }
      }
      .add{
        margin-right: 30px;
        margin-top: -34px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        i{
          font-size: 1.4rem;
          line-height: 35px;
        }
      }
    }
    .members{
      .member{
        .icon{
          color: #aaa;
          margin-top: 20px;
        }
        .opened{
          color: #4CAF50 !important;
        }
      }
      .add{
        margin-right: 30px;
        margin-top: -34px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        i{
          font-size: 1.4rem;
          line-height: 35px;
        }
      }
    }
  }
}
